In [21]:
fruits = ["🍎","🍊","🍓"]
vegetables = ["🥕","🥒",]

fruits*2

['🍎', '🍊', '🍓', '🍎', '🍊', '🍓']

In [22]:
"🍎"*10

'🍎🍎🍎🍎🍎🍎🍎🍎🍎🍎'

In [23]:
vegetables = ["🥕","🥒","🍆","🥔"]
#change data type
#out put
#"🥕,🥒,🍆,🥔"

", ".join(vegetables)

'🥕, 🥒, 🍆, 🥔'

In [1]:
ice_creams = "mint,chocolate,vanilla"

ice_creams.split(",")

['mint', 'chocolate', 'vanilla']

## strin to list (conversion)
- `split()`
- `split`

In [26]:
nums1 = [100,200]
nums2 = [100,200]
nums3 = nums1 #twin copy by reference | refer to same location

nums1.append(300)
nums2.append(400)
nums3.append(500)

print(nums1)
print(nums2)
print(nums3)

#why?

[100, 200, 300, 500]
[100, 200, 400]
[100, 200, 300, 500]